@model PartyInvites.Models.GuestResponse

@{
    Layout = null;
}

<!DOCTYPE html>
<html>
<head>
    <title>RsvpForm</title>
    <meta name="viewport" content="width=device-width" />
    <link rel="stylesheet" href="~/css/styles.css" />
    <link rel="stylesheet" href="~/lib/bootstrap/dist/css/bootstrap.css" />
</head>
<body>
    <div class="border-success">
        <div class="card-header text-center"><h4>RSVP</h4></div>
        <div class="card-body">
            <form class="p-a-1" asp-action="Rsvpform" method="post">
                <div asp-validation-summary="All"></div>
                <div class="form-group">
                    <label asp-for="Name">Your Name: </label>
                    <input class="form-control" asp-for="Name" />
                </div>

                <div class="form-group">
                    <label asp-for="Email">Your Email: </label>
                    <input class="form-control" asp-for="Email" />
                </div>

                <div class="form-group">
                    <label asp-for="Phone">Your Phone: </label>
                    <input class="form-control" asp-for="Phone" />
                </div>
                <div class="form-group">
                    <label>Will you attend?</label>
                    <select class="form-control" asp-for="WillAttend">
                        <option value="">Change an option</option>
                        <option value="true">Yes, I'll be there</option>
                        <option value="false">No, I can't come</option>
                    </select>
                </div>
                <div class="text-center">
                    <button class="btn btn-primary" type="submit">Submit RSVP</button>
                </div>
            </form>
        </div>
    </div>
</body>
</html>
